* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right:0.3em;
  padding-left:0.3em;
}

.fluid-container{
  max-width:100%;
  padding-right:0.3em;
  padding-left:0.3em;
}

.row{
  margin-left:-0.3em;
  margin-right:-0.3em;
}

.row:before,
.row:after {
  content: "";
  display:table;
  clear:both;
}

[class*='bit-'], [class*='col-'], [class*='pull-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
  padding:0 0.3em;
}

/* -- Pulls -- */
.pull-left {
  float: left !important;
  width:auto;
}

.pull-right {
  float: right !important;
  width:auto;
}

/* -- Columns -- */
.bit-l-12, .col-l-1 {
  width: 8.333%;
}

.bit-l-11 {
  width: 9.090%;
}

.bit-l-10 {
  width: 10%;
}

.bit-l-9 {
  width: 11.111%;
}

.bit-l-8 {
  width: 12.5%;
}

.bit-l-7 {
  width: 14.28571%;
}

.bit-l-6, .col-l-2 {
  width: 16.666%;
}

.bit-l-5 {
  width: 20%;
}

.bit-l-4, .col-l-3 {
  width: 25%;
}

.bit-l-3, .col-l-4 {
  width: 33.333%;
}

.col-l-5{
  width: 41.666%;
}

.bit-l-2, .col-l-6 {
  width: 50%;
}

.col-l-7{
  width: 58.333%
}

.col-l-8{
  width: 66.666%;
}

.col-l-9{
  width: 75%;
}

.col-l-10{
  width: 83.333%;
}

.col-l-11{
  width: 91.666%;
}

.bit-l-1, .col-l-12 {
  width: 100%;
}

/* -- Offsets --*/

/* -- Tablets -- */
@media (min-width: 48em) and (max-width: 68.75em) {

}

/* -- Mobile -- */
@media (min-width: 0em) and (max-width: 48em) {

}